@model LoginViewModel

<div class="col-md-4 col-md-span-3">
    <form asp-action="Login" >

        <div class="form-group row">
            <!-- Email input -->
            <label class="form-label" asp-for="Email"></label>
            <input type="email" class="form-control" />
            
        </div>

        <div class="form-group row">
            <!-- Password input -->
            <label class="form-label" asp-for="Password"></label>
            <input type="password" class="form-control" />
            
        </div>

        <div class="form-group row ">
            <div class="col d-flex right-content">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="RememberMe" checked />
                    <label class="form-check-label" asp-for="RememberMe" >  </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="ورود" />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

    </form>
</div>